*{
    background-color: #000;
}
html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
}
.gmh1{
    max-width: 100%; 
    height: auto; 
    margin: 10px 0;
}

.menu{
	padding: 14px;
}
.littleMenu{
	display: flex;
      display: flex;
      flex-direction: column; /* Organizar imágenes en columna */
      justify-content: center; /* Centrar verticalmente */
      align-items: center; /* Centrar horizontalmente */
}
.missMenu{
	align-items: center;
	position: relative;
	display: flex;
	justify-content: center;
}
.prueba{
	background-color: white;
} 

html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
}

*,*::after, *::before{
    box-sizing: inherit;
}


